{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{modulo.titulo}}{% endblock title %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <center><h1 class="mt-4 mb-3">{{ modulo.titulo }}</h1></center>
            <dl>
                <center><dt>Público</dt></center>
                <center><dd>{{ modulo.publico }}</dd></center>
                <center><dt>Descrição</dt></center>
                <center><dd>{{ modulo.descricao }}</dd></center>
            </dl>
            <h2>Aulas:</h2>
            <ol>
                {% for aula in aulas %}
                <li><a href="{{ aula.get_absolute_url }}">{{ aula.titulo }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock body %}
