{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Python Pro João Guilherme{% endblock title %}</title>

    <meta name="description" content="{% block description %}Página do curso Python Pro João Guilherme{% endblock description %}">
    <meta name="author" content="João Guilherme">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link href= "{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href= "{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'base:home' %}">Python Pro JG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" datatoggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Módulos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for modulo in MODULOS %}
                <a class="dropdown-item" href="{{ modulo.get_absolute_url }}">{{ modulo.titulo }}</a>
                <div class="dropdown-divider"></div>
              {% endfor %}
            </div>
        </li>
    </ul>
  </div>
  {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" datatoggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                  {{ user.first_name }}
              </a>
            </li>
            <a class="btn btn-light" href="{% url 'logout' %}" >Sair</a>
    </ul>
  {% else %}
  <a class="btn btn-light" href="{% url 'login' %}">Login</a>
  {% endif %}
</nav>

{% block body %}{% endblock body %}

<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            <center>Mais detalhes sobre o instrutor</center>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/luciano.jpg' %}" alt="Foto de Luciano Ramalho" class="rounded mx-auto d-block">
                                Ramalho é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a> e autor do Livro Python Fluente.
                                Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web. Liderou times para os portais IDG Now,
                                BOL, UOL, AOL Brasil e outros, usando Python desde 1998. Como instrutor, atendeu clientes como Citibank, CPqD, Serpro,
                                Presidência da República, Globo.com e Itaú. Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou
                                a criar a Associação Python Brasil e foi seu presidente. É membro da Python Software Foundation e fundador do Garoa Hacker
                                Clube, o primeiro hackerspace do Brasil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            <center>Mais detalhes sobre o desenvolvedor</center>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/me.jpg' %}" alt="Foto de João Guilherme" class="rounded mx-auto d-block">
                                Este é um projeto desenvolvido no curso <a href="https://pythonpro.com" >Python Pro</a> com o
                                objetivo de criar uma aplicação de gerenciamento de cursos do autor Luciano Ramalho. O desenvolvedor desse projeto
                                se chama João Guilherme e seus projetos podem ser visto no seu portifólio no <a href="https://github.com/JoaoZati">GitHub</a>
                                O projeto desse site pode ser visto em <a href="https://github.com/JoaoZati/django_devpro_jg">django_devpro_jg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base/footer.html' with email_ramalho='ramalho@python.pro.br' only %}

</body>
