<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <center><h3>Entre em Contato:</h3></center>
                <address>
                    <center><a href="mailto:{{ email_ramalho }}" class="text-light">{{ email_ramalho }}</a></center>
                </address>
                <address>
                    <center><a href="mailto:joaozati@gmail.com" class="text-light">joaozati@gmail.com</a></center>
                </address>
            </div>

        </div>
    </div>
    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>{% now 'd' %} de {% now 'M' %} de {% now 'Y' %}</center>
                </div>

            </div>
        </div>
    </div>

</footer>