{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro João Guilherme-Home{% endblock title %}

{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    <center>Curso Python com Luciano Ramalho</center>
                </h2>
                <p>
                    <center>Confira em breve mais informações sobre o curso que será ministrado pelo autor do livro:
                            <a href="https://www.oreilly.com/playlists/ba5190c2-d78d-484a-9875-812214b589dd/" target="_blank" >Python Fluente</a></center>
                </p>
                <h4 class="mt-4">
                    <center>Entre para a lista de espera:</center>
                </h4>
                <form action="https://herokuapp.us5.list-manage.com/subscribe/post?u=35d1de4f6415d33aa445a48a4&amp;id=271ce6a76f"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="validate" target="_blank" novalidate>
                  <div class="form-row align-items-center">
                    <div class="col-auto">
                        <center><label class="sr-only" for="mce-EMAIL">Email</label></center>
                        <center><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="exemplo@email.com"></center>
                    </div>
                    <div class="col-auto">
                        <center><label class="sr-only" for="mce-FNAME">Nome</label></center>
                        <center><input type="text" value="" name="FNAME" class="required email" id="mce-FNAME" placeholder="Nome"></center>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_35d1de4f6415d33aa445a48a4_271ce6a76f" tabindex="-1" value=""></div>
                    <div class="col-auto mt-2">
                        <center><button type="submit" class="btn btn-primary mb-2">Submit</button></center>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}